**/.project
**/.classpath
**/.settings
indigodc-orchestrator-plugin/target/
indigodc-orchestrator-plugin/lib/
a4c-tmp/**
indigodc-orchestrator-plugin/.idea
indigodc-orchestrator-plugin/nb-configuration.xml

